<div class="landing-page">
  <div class="map-link">
    <i class="fa fa-map-o" aria-hidden="true"></i>
    <%= link_to "See the Companies We Work With", companies_path %>
  </div>
  <div class="dropdown">
    <center>
      <button onclick="myFunction()" class="dropbtn">Choose your next destination:</button>
    </center>
      <div id="myDropdown" class="dropdown-content">
        <% @locations.each do |location| %>
        <%= link_to location.name, location %>
        <% end %>
      </div>
  </div>
</div>
