<div class="landing-page">
  <div class="map-link">
    <%= link_to "Find All Of Our Locations", companies_path %>
  </div>
  <div class="dropdown">
    <center>
      <button onclick="myFunction()" class="dropbtn">Choose your next destination:</button>
    </center>
      <div id="myDropdown" class="dropdown-content">
        <% @locations.each do |location| %>
        <%= link_to location.name, location %>
        <% end %>
      </div>
  </div>
</div>
