<div class="header">
  <div class="container">

  <div class="dropdown welcome-drop">
    <h2>Choose your destination:</h2>
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Where do you want to go?
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu welcome-locations" aria-labelledby="dropdownMenu1">
      <% @locations.each do |location| %>
        <li><%= link_to location.name, location_path(location) %></li>
      <% end %>
    </ul>
  </div>

  </div>
</div>
