<div class="landing-page">
  <div class="dropdown">
    <center>
      <button onclick="myFunction()" class="dropbtn">Choose your next destination:</button>
    </center>
      <div id="myDropdown" class="dropdown-content">
        <% @locations.each do |location| %>
        <a href="#"><%= location.name %></a>
        <% end %>
      </div>
  </div>
  </div>
