
  <div class="landing-page">
  <div class="dropdown welcome-drop">
    <div class= "where">
    <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Choose a Destination</a>
    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="#!">one</a></li>
      <li><a href='#!'>two</a></li>
      <li><a href='#!'>three</a></li>
    </ul>
  </div>
  </div>

</div>
