<div class="landing-page">
  <nav class="navbar navbar-default">
      <div class="map-link ">
        <i class="fa fa-map-o" aria-hidden="true">  </i>
        <%= link_to "See the Companies We Work With", companies_path %>
      </div>
  </nav>

  <div class="dropdown">
    <center>
      <button onclick="myFunction()" class="dropbtn">Choose your next destination:</button>
    </center>
      <div id="myDropdown" class="dropdown-content">
        <% @locations.each do |location| %>
        <%= link_to location.name, location %>
        <% end %>
      </div>
  </div>
</div>
