<div class="landing-page">
  <div class="dropdown">
    <center>
      <button onclick="myFunction()" class="dropbtn">Choose your next destination:</button>
    </center>
      <div id="myDropdown" class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
  </div>
  </div>
