<header class="company-show">
  <h1><%= @company[:name] %>'s offered Activities</h1>
</header>

<div class="company-image">
</div>

<div class="items">
  <% @items.each do |item| %>
    <ul><%= item[:name] %></ul>
    <ul><%= item[:location] %></ul>
    <%= image_tag(item[:image], width: "300", height: "300") %></ul>
  <% end %>
</div>
