.companies-index {
  background: url('https://hd.unsplash.com/photo-1465284958051-1353268c077d') no-repeat center ;
}

.companies-list {
  font-size: 150%;
  text-align: center;
  padding-bottom: 20px;
  margin-right: 10px;
}
/*html, body {
    margin:0;
    padding:0;
}
h1 {
    margin:0;
}


ul {
  font-size: 120%;
  text-decoration: underline;
}
.companies {
  padding: 20px;
  font-family: arial;
}

.gmap {
  padding-left: 25px;
}*/
